body
{
	background-color:#7396ff;
}
body a{
	text-decoration: none;
}
body a::hover{
	background-color: lightgray;
}

#box{
	margin-left: auto;
	margin-right: auto;
	margin-top:10%;
	width: 800px;
	height: 330px;
	background-color: white;
	border-radius: 7px;
	display: flex;
	justify-content: space-around;
}

.in-box{
margin: auto 0;
width: 260px;
height: 300px;
background-color: white;
border-radius: 7px;
transition: 0.3s;

}
.in-box:hover{
	background-color: #e6e6e6;
}

.in-box h3{
	font-size: 20px;
	font-family: Roboto, sans-serif;
	color: #7396ff;
}


 #para{
 	margin: 0 auto;
 	font-size: 13px;
	font-family: Roboto, sans-serif;
	color: gray;
	width: 200px;
	height: 70px;

 }
#price{
	display: flex;
	justify-content: center;
}
#price .big{
	font-family: Roboto, sans-serif;
	font-size:30px;
	color:#7396ff;
}
#price .small{
	font-family: Roboto, sans-serif;
	font-size:15px;
	color:#7396ff;
}
#price .small1{
	font-family: Roboto, sans-serif;
	font-size:15px;
	color:#7396ff;
	position: relative;
	margin-top:13px; 

}
#picture{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 35px;
	background-image: url("img/device.svg");
	background-repeat: no-repeat;
	background-size: 80px 80px;
}
#picture1{
		width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 35px;
	background-image: url("img/laptop.svg");
	background-repeat: no-repeat;
	background-size: 80px 80px;
}

#picture2{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 35px;
	background-image: url("img/monitor.svg");
	background-repeat: no-repeat;
	background-size: 80px 80px;
}

